@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* ---------- Base Colors ---------- */
:root {
  /* Brand */
  --color-brand-primary: #4F7EFF;
  --color-blue: #5173ce;

  /* Neutrals */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Grays */
  --color-gray-100: #f3f3f3;
  --color-gray-300: #d1d5db;
  --color-gray-500: #888a89;
  --color-gray-600: #6b7280;

  /* ---------- Text Colors ---------- */
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-600);
  --text-inverse: var(--color-white);
  --text-placeholder: var(--color-gray-500);
  --text-heading: var(--color-black);
  --text-hover: var(--color-brand-primary);

  /* ---------- Background Colors ---------- */
  --bg-page: var(--color-white);
  --bg-primary: var(--color-brand-primary);
  --bg-surface: var(--color-gray-100);
  --bg-inverse: var(--color-black);

  /* ---------- Border Colors ---------- */
  --border-default: var(--color-gray-300);
  --border-inverse: var(--color-black);
  --border-primary: var(--color-brand-primary);

  /* ---------- Button Colors ---------- */
  --btn-bg-primary: var(--color-black);
  --btn-bg-secondary: var(--color-black);
  --btn-bg-tertiary: var(--color-brand-primary);
  --btn-text-primary: var(--color-white);
  --btn-bg-hover-secondary: var(--color-blue);
  --btn-bg-hover: var(--color-black);
  --btn-text-hover: var(--color-white);

  /* ---------- Icon Colors ---------- */
  --icon-default: var(--color-black);
  --icon-muted: var(--color-gray-600);
  --icon-inverse: var(--color-white);

  /* ---------- Dropdown ---------- */
  --dropdown-bg: var(--color-black);
  --dropdown-text: var(--color-white);
  --dropdown-border: var(--color-gray-300);

  /* ---------- Cart ---------- */
  --cart-bg: var(--color-black);
  --cart-text: var(--color-white);
  --cart-icon-bg: var(--color-black);
  --cart-icon-text: var(--color-white);

  --cart-bg-hover: var(--color-black);
  --cart-text-hover: var(--color-white);
  --cart-icon-bg-hover: var(--color-white);
  --cart-icon-text-hover: var(--color-black);

  /* ---------- Transitions ---------- */
  --transition-fast: 150ms ease;
  --transition-normal: 300ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}